body {
	background-image: url('https://source.unsplash.com/G8rRItjrwkA');
	background-repeat: cover;
}

h1 {
	color: black;
	font-family: monospace;
	font-size: 400%;
	text-align: left;
	background-image: image("download.png");
}

#i1 {
	color: white;
	font-family: cursive;
	font-size: 100%;
	text-align: center;
}

#i2 {
	text-align: center;
	font-family: cursive;
	font-size: 100%;
	color: white;
}

.button {
	font-family: cursive;
	transition-duration: 0.4s;
	background-color: white;
	border: 2px solid green;
}

.button:hover {
	background-color: #4CAF50;
	/* Green */
	color: white;
}

input[type=text] {
	border: none;
	border-bottom: 2px solid red;
}

input[type=password] {
	border: none;
	border-bottom: 2px solid red;
}

input[type=email] {
	border: none;
	border-bottom: 2px solid red;
}

input[type=tel] {
	border: none;
	border-bottom: 2px solid red;
}

input[type=select] {
	border: none;
	border-bottom: 2px solid red;
}

#add {
	border: none;
	border-bottom: 2px solid red;
}
